*{
  margin: 0;
  padding:0;
}
#wrapper
{
    width: 970px;
    background: radial-gradient(rgb(111,89,100),rgb(27,11,15));
}
.button
{
    border-radius: 5px;
    font-display: bold;
    font-size: 25px;
    box-shadow: 3px 3px 5px black;
    background: linear-gradient(rgb(204, 203, 203), rgb(95, 92, 92), rgb(204, 203, 203));
}
.button:hover
{
    border-radius: 5px;
    font-display: bold;
    font-size: 25px;
    box-shadow: 0px 0px 0px black;
    color: white;
    background: linear-gradient(rgb(95, 92, 92), rgb(204, 203, 203),rgb(95, 92, 92));
}
.top_section
{
    display: inline-block;
}
#pic
{
    height: 200px;
    width: 184px;
    padding-left: 5px;
    padding-right: 0px;
    border-radius: 100px;
    padding-top: 8px;
    vertical-align: top;
    display: inline-block;
}
#bio
{
    padding: 18px;
    padding-left: 13px;
    text-align: left;
    box-shadow: 2px 2px 4px black;
    color: silver;
    border-radius: 5px;
    width: 730px;
    vertical-align: top;
    display: inline-block;  
}
#main
{
    margin: 10px;
    padding: 10px;
    height:500px;
    width: 926px;
    box-shadow: 7px 5px 5px black;
    border-radius: 15px;
    background: linear-gradient(rgb(111,89,100),rgb(27,11,15),rgb(111,89,100));
}
.box
{
    vertical-align: top;
    display: inline-block;
    height: 206px;
    width:443px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 10px;
}
.box1
{
    vertical-align: top;
    display: inline-block;
    height: 206px;
    width:443px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 10px;
}
.box:hover
{
    vertical-align: top;
    display: inline-block;
    height: 206px;
    width:443px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 10px;
}
.heading
{
    width: 80%;
    height: 10px;
    margin: auto;
    padding: 10px;
    display: inline-block;
}
#silver
{
 height: 160px;
 width: 950px;
 padding: 10px;
 margin-bottom: 10px;
 text-align: center;
 background: linear-gradient(rgb(204, 203, 203), rgb(95, 92, 92), rgb(204, 203, 203));
}
#silver1
{
 height: 44px;
 width: 950px;
 padding: 10px;
 margin-bottom: 10px;
 text-align: center;
 background: linear-gradient(rgb(204, 203, 203), rgb(95, 92, 92), rgb(204, 203, 203)) ;
}
#header
{
    Font-size: 45px;
    display: inline-block;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
#header1
{
    font-size: 25px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    text-align: center;
}
.media
{
    margin-top: 5px;
    height: 30px;
    width: 30px;
}
.boxtext
{
    text-align: left;
    padding-top: 10px;
    margin-left: 175px;
    color: aqua;
    font-size: 30px;
    font-weight: bold;
}
#quote
{
    margin-top: 66px;
    margin-left: 30px;
    font-size: 56px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#ae
{
    text-shadow: 5px 5px 7px black;
    color: rgb(10, 92, 92);
}
span
{
    text-shadow: 3px 3px 5px rgb(49, 48, 48);
}
